.product_list_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: violet;
  }

  .product_items {
    background: rgb(214, 214, 83);
    width: 300px;
  }
  
  .product_items img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .product_sizeChart_Container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .product_sizeChart_items {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid gray;
    padding: 2px;
  }
  .product_sizeChart_items h4 {
    text-align: center;
    display: flex;
    gap: 10px;
  }
  