.main_container_category {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 12px;
  gap: 24px;
}
.main_container_category_eachDiv {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}
input {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 5px 7px;
}
input:focus {
  outline: none;
}
button {
  background-color: rgb(38, 38, 207);
  color: white;
  border-radius: 6px;
  padding: 1px 15px;
  border: none;
  max-width: 150px;
  height: 30px;
}
h2 {
  margin: 0;
}
h4 {
  padding: 0;
  margin: 0;
}

.create_category_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
}
.category_container_input {
  display: flex;
  gap: 10px;
}

.category_list_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}

.category_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.button_container_center {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.show_category_input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.category_input_image_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  padding: 3px;
}

.category_input_image {
  width: 300px;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
}

.category_input_image img {
  object-fit: cover;
}

.category_mapped_list_container {
  display: flex;
  flex-direction: column;
  padding: 4px;
  background-color: rgb(152, 152, 197);
  border-radius: 6px;
  gap: 10px;
  border: 1px solid gray;
}

.category_list_closeIcon {
  width: 100%;
  display: flex;
  justify-content: end;
}
.category_list_image {
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid white;
}

.category_list_closeIcon img {
  cursor: pointer;
}

.edit_category_modal_container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.edit_category_modal {
  width: 500px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: burlywood;
  overflow: hidden;
  gap: 10px;
  padding: 15px;
}

.modal_container_category_eachDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.modal_image_carousal_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.modal_editcategory_image_delete_button {
  position: absolute;
  right: 3px;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.modal_image_container {
  position: relative;
}
