h3 {
  margin: 0;
}
.header_mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
  color: white;
  background-color: rgb(24, 24, 144);
}

ul {
  display: flex;
  gap: 5px;
  color: white;
}
li a {
  color: white;
}

a:link {
  text-decoration: none;
}
a:active {
  color: rgb(31, 128, 219);
}
/* a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
} */
