.error {
  color: red;
  margin: 0;
}
h1,
h4 {
  margin: 0;
}
.main_container_product {
  display: flex;
  /* width: 55%; */
  flex-direction: row;
  margin: 8px;
  padding: 12px;
  gap: 24px;
  /* background-color: red; */
  overflow: hidden;
}
.createProduct_group {
  display: flex;
  flex-direction: row;
}
.form_main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  margin: 8px;
  padding: 12px;
  gap: 16px;
}
.form_each_div {
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

input {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 5px 7px;
}
input:focus {
  outline: none;
}

button {
  background-color: rgb(38, 38, 207);
  color: white;
  border-radius: 6px;
  padding: 1px 15px;
  border: none;
  max-width: 150px;
  height: 30px;
}
h4 {
  padding: 0;
  margin: 0;
}
h3 {
  max-width: 400px;
  overflow: scroll;
}

.product_details_container {
  display: flex;
  flex-direction: column;
  /* margin: 8px; */
  /* padding: 12px; */
  gap: 16px;
  overflow: hidden;
}

.createCategory_formdata_view_mapping {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.createCategory_formdata_view_mapping :first-child {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  align-items: flex-end;
  flex-direction: column;
  /* margin: .5rem; */
}
.createCategory_mapping_chip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  padding: 2px 10px;
  border-radius: 15px;
}
.createCategory_formdata_view_mapping_sizechart_item {
  display: flex;
  margin: 0 2px;
}
